
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div id="contact" style="text-align:center">
    <h2>VỀ FoxPRO</h2>
    <p> FoxPRO là mạng lưới các chuỗi bán lẻ và thương hiệu sáng tạo từ năm 1976 đến từ Lille, Pháp. Cùng nhau, chúng ta sống mỗi ngày với một mục đích chung. </p>
    <h2 style="color: orange"> "LÀM CHO NIỀM VUI VÀ LỢI ÍCH CỦA THỂ THAO CÓ THỂ TIẾP CẬN ĐƯỢC VỚI NHIỀU NGƯỜI MỘT CÁCH BỀN VỮNG"</h2>
    <p> Chúng tôi đặt mong muốn của khách hàng vào trái tim của mình từ nghiên cứu đến bán lẻ, bao gồm ý tưởng, thiết kế, sản xuất và hậu cần.</p>
</div>


