
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<img src="~/Content/images/contact.png" style="width:100%" />
<div id="contact" style="text-align:center">
    <h2>Liên hệ chúng tôi</h2>
    <p> + Nhấn phím 1 để liên hệ Trung tâm Chăm sóc khách hàng </p>
    <p> + Nhấn phím 2 để liên hệ Cửa hàng Tân Phú</p>
    <p> + Nhấn phím 3 để liên hệ Cửa hàng Thanh Xuân, Hà Nội</p>
    <p> + Nhấn phím 4 để liên hệ Cửa hàng Thảo Điền, Hồ Chí Minh</p>
    <h2>Tuyển dụng</h2>
    <p>Các vấn đề liên quan đến tuyển dụng, xin vui lòng liên hệ theo email: minhnhat453320@gmai.com hoặc website.</p>
</div>

