
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<img src="~/Content/images/store.png" style="width:100%" />
<div id="contact" style="text-align:center">
    <h2>CỬA HÀNG</h2>
    <p> + Cửa hàng Tân Phú - Tân Phú - Aeon Mall Tân Phú - Lầu 1, Hồ Chí Minh </p>
    <p> + Cửa hàng Thảo Điền - Quận 2 - Vincom Mega Mall Thảo Điền - L2, Hồ Chí Minh </p>
    <p> + Cửa hàng Vạn Hạnh - Quận 10 - Vạn Hạnh Mall - Lầu 2, Hồ Chí Minh </p>
    <p> + Cửa hàng Thanh Xuân: Vincom Royal City - B1 - R4, Hà Nội</p>
    <p> + Cửa hàng FoxPRO Connect Hà Đông - Aeon Mall Hà Đông, Hà Nội</p>
    <h2>Tuyển dụng</h2>
    <p>Các vấn đề liên quan đến tuyển dụng, xin vui lòng liên hệ theo email: tanthinh25250@gmai.com hoặc website.</p>
</div>

