
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<img src="~/Content/images/CSKH.png" style="width:100%" />
<div id="contact" style="text-align:center">
    <h3 style="color: orange">1. DỊCH VỤ CHĂM SÓC KHÁCH HÀNG</h3>

    <b>Hotline: 18009044</b>

    <p>+ Nhấn phím 1 để liên hệ Trung tâm Chăm sóc khách hàng</p>
    <p>+ Nhấn phím 2 để liên hệ Cửa hàng Tân Phú, HCM</p>
    <p>+ Nhấn phím 3 để liên hệ Cửa hàng Thanh Xuân, Hà Nội</p>
    <p>+ Nhấn phím 4 để liên hệ Cửa hàng Thảo Điền, HCM</p>
    <p>+ Nhấn phím 5 để liên hệ Cửa hàng FoxPRO Connect Hà Đông, Hà Nội</p>

    Email: cskh@decathlon.com

    Fanpage: FoxPRO Việt Nam

    <h3 style="color: orange">2. TUYỂN DỤNG</h3>

    Các vấn đề liên quan đến tuyển dụng, xin vui lòng liên hệ theo email: recruit.vietnam@foxpro.com hoặc website.


</div>

