<br />
<br />
<div class="container border-top border-dark "></div>
<div class="footer container-fluid  px-sm-3 px-md-5 text-black">
    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-black mb-4">ĐỊA CHỈ</h4>
            <p><i class="fa fa-map-marker-alt mr-2"></i> 123 Sư Vạn Hạnh, HCM, VN</p>
            <p><i class="fa fa-phone-alt mr-2"></i> +012 345 67890</p>
            <p><i class="fa fa-envelope mr-2"></i> minhnhat453320@gmail.com</p>
            <div class="d-flex justify-content-start mt-4">
                <a class="btn btn-outline-dark rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-dark rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-dark rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-outline-dark rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-black mb-4">VỀ FoxPRO</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-black mb-2" style="text-decoration: none" href="~/Home/About"><i class="fa fa-angle-right mr-2"></i> FoxPRO là ai?</a>
                <a class="text-black mb-2" style="text-decoration: none" href="#"><i class="fa fa-angle-right mr-2"></i> Tuyển dụng</a>
                <a class="text-black mb-2" style="text-decoration: none" href="~/Home/Store"><i class="fa fa-angle-right mr-2"></i> Cửa hàng</a>
                <a class="text-black mb-2" style="text-decoration: none" href="~/Home/Support"><i class="fa fa-angle-right mr-2"></i> Chăm sóc khách hàng</a>
                <a class="text-black" style="text-decoration: none" href="~/Home/Contact"><i class="fa fa-angle-right mr-2"></i> Liên hệ chúng tôi</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-black mb-4">HỖ TRỢ</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-black mb-2" style="text-decoration: none" href="#"><i class="fa fa-angle-right mr-2"></i> Quà tặng</a>
                <a class="text-black mb-2" style="text-decoration: none" href="#"><i class="fa fa-angle-right mr-2"></i> Chính sách đổi trả</a>
                <a class="text-black mb-2" style="text-decoration: none" href="#"><i class="fa fa-angle-right mr-2"></i> Phương thức giao hàng</a>
                <a class="text-black mb-2" style="text-decoration: none" href="#"><i class="fa fa-angle-right mr-2"></i> Phương thức thanh toán</a>
                <a class="text-black" style="text-decoration: none" href="#" h><i class="fa fa-angle-right mr-2"></i> Câu hỏi thường gặp</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-black mb-4">GIỜ MỞ CỬA</h4>
            <h5 class="text-black">Thứ hai - Thứ sáu</h5>
            <p>8.00 AM - 10.00 PM</p>
            <h5 class="text-black">Thứ bảy - Chủ nhật</h5>
            <p>8.00 PM - 12.00 PM</p>
        </div>
    </div>
</div>
