<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="~/Product/Index"><img class="img-fluid sp-custom-118-1628235565" src="~/Content/Images/logobrand.png" alt="FoxPRO" width="180" style="margin-bottom: 5px !important;"></a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw">Tài khoản</i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>Xin chào: @Session["NameUser"]</li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a href="@Url.Action("LogOutUser", "login")"><span class="glyphicon glyphicon-log-out"></span>Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
    </form>
</nav>
