<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Category</div>
                <a class="nav-link" href="~/Categories/Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-atom-simple"></i></div>
                    Thông tin Category
                </a>
                <a class="nav-link" href="~/Categories/Create">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-record-vinyl"></i></div>
                    Tạo mới Category
                </a>
                <div class="sb-sidenav-menu-heading">Product</div>
                <a class="nav-link" href="~/Product/Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-star"></i></div>
                    Thông tin sản phẩm
                </a>
                <a class="nav-link" href="~/Product/Create">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Thêm sản phẩm
                </a>
                <div class="sb-sidenav-menu-heading">Order</div>
                <a class="nav-link" href="~/OrderProducts/Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-cloud"></i></div>
                    Danh sách hóa đơn
                </a>
            </div>
        </div>
    </nav>
</div>